body{
  margin: 0;
  padding: 0;
  background: url(welcomeBackground.jpg);
  background-size:  cover;
  /* background-position: center; */
  font-family: sans-serif;
}
.sparkBox{
  width: 320px;
  height: 420px;
  background: transparent;
  color: #000;
  top: 80%;
  left: 20%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 50px;
}

.sparkBox input[type = "submit"]
{
  border: none;
  background: #fb2525;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.sparkBox input[type="submit"]:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}


.chartBox{
  width: 320px;
  height: 420px;
  background: transparent;
  color: #000;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 50px;
}
.chartBox input[type = "submit"]
{
  border: none;
  background: #fb2525;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.chartBox input[type="submit"]:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.uploadBox{
  width: 320px;
  height: 420px;
  background: transparent;
  color: #000;
  top: 40%;
  left: 20%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 50px;
}
.uploadBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.uploadBox input{
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}

.uploadBox input[type = "text"]
{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 30px;
  color: #000;
  font-size: 16px;
}

.uploadBox input[type = "submit"]
{
  border: none;
  background: #fb2525;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.uploadBox input[type="submit"]:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
